<div class="weather-widget">
  <div class="weather-widget-box today">
    <header class="weather-widget-box-header">
      <h5>
        <%= forecast[:location]['city'] %>, <%= forecast[:location]['country'] %>
      </h5>
      <button class="open-search-button right" type="button">&nbsp;
      </button>
    </header>
    <hgroup class="temperatures">
      <h2 class="temperature-item avg-temperature">
        <%= forecast[:today][:condition]['temp'] %>º
      </h2>
      <h5 class="temperature-item">
        Hi <span class="hightest-temperature">
          <%= forecast[:today][:condition][:high] %>º
        </span>
      </h5>
      <h5 class="temperature-item">
        Lo <span class="lowest-temperature">
          <%= forecast[:today][:condition][:low] %>º
        </span>
      </h5>
    </hgroup>

    <div class="weather-forecast-icon
      weather-icon big
      <%= slugify(forecast[:today][:condition]['text']) %>"></div>

    <section class="today-info">
      <h3 class="weather-forecast-description"><%= forecast[:today][:condition]['text'] %></h3>
      <hgroup class="weather-forecast-metrics">
        <h4 class="weather-forecast-metric">
          Humidity: <span class="humidity">
            <%= (forecast[:today][:atmosphere]['humidity']) %>%
          </span>
        </h4>
        <h4 class="weather-forecast-metric">
          Wind Speed:
          <span class="wind-speed">
            <%= forecast[:today][:wind]['speed'] %>km/h
          </span>
        </h4>
      </hgroup>
      <h5 class="forecast-day"><%= forecast[:date].strftime('%A') %></h5>
    </section>
  </div>

  <div class="container">
    <% forecast[:week].first(2).each do |day_forecast| %>
      <div class="weather-widget-box">
        <div class="weather-forecast">
          <div class="weather-forecast-icon weather-icon <%= slugify(day_forecast['text']) %>"></div>
          <h5 class="forecast-day"><%=  Date.parse(day_forecast['date']).strftime('%A') %></h5>
        </div>

        <footer class="temperatures">
          <h5 class="temperature-item">
            Hi <span class="hightest-temperature">
              <%= day_forecast['high'] %>º
            </span>
          </h5>
          <h5 class="temperature-item">
            Lo <span class="lowest-temperature">
              <%= day_forecast['low'] %>º
            </span>
          </h5>
        </footer>
      </div>
    <% end %>
  </div>

  <section class="search-popup">
    <header>
      <input type="search" name="search" placeholder="Search by city or Zipcode (US and Canada only)">
      <button class="search-popup-close">&times;</button>
    </header>

    <section class="search-results">
    </section>
  </section>
</div>
